In [6]:
import numpy as np
import Pulsed_NMR
import pandas as pd

In [8]:
df = pd.read_csv('Data/Pulsed NMR Data/Mineral Oil/MineralOilT2.csv')

In [9]:
df

        Sample Number  Time (s)  1 (VOLT)
0                   1 -0.012012 -0.006859
1                   2 -0.012011 -0.010779
2                   3 -0.012010 -0.002940
3                   4 -0.012010 -0.006859
4                   5 -0.012009 -0.006859
...               ...       ...       ...
154995         154996  0.111984 -0.002940
154996         154997  0.111985  0.000980
154997         154998  0.111986  0.000980
154998         154999  0.111986 -0.002940
154999         155000  0.111987  0.000980

[155000 rows x 3 columns]

In [10]:
odd_indices = np.array(range(1, len(df), 2))

In [11]:
odd_indices

array([     1,      3,      5, ..., 154995, 154997, 154999],
      shape=(77500,))

In [13]:
df.drop(odd_indices, inplace=True)

In [14]:
df

        Sample Number  Time (s)  1 (VOLT)
0                   1 -0.012012 -0.006859
2                   3 -0.012010 -0.002940
4                   5 -0.012009 -0.006859
6                   7 -0.012007 -0.006859
8                   9 -0.012006 -0.006859
...               ...       ...       ...
154990         154991  0.111980 -0.006859
154992         154993  0.111982 -0.002940
154994         154995  0.111983  0.000980
154996         154997  0.111985  0.000980
154998         154999  0.111986 -0.002940

[77500 rows x 3 columns]