In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data/Zeeman Effect/6A_splitting.csv')

In [3]:
df

      alpha    I
0     5.459  0.4
1     5.454  0.4
2     5.449  0.4
3     5.443  0.4
4     5.438  0.4
...     ...  ...
2043 -5.433  1.2
2044 -5.438  1.2
2045 -5.443  1.2
2046 -5.449  0.8
2047 -5.454  0.8

[2048 rows x 2 columns]

In [4]:
peaks = [36, 400, 755]

In [7]:
df.iloc[peaks]['alpha']

36     5.269
400    3.333
755    1.438
Name: alpha, dtype: float64

In [8]:
arr = [1,2,3,4,5]

In [9]:
arr[-3:]

[3, 4, 5]

In [1]:
arr = [6,3,7,2,1]

In [2]:
for n, x in enumerate(arr):
    print(n)

0
1
2
3
4

In [4]:
for n, x in enumerate(arr):
    if n < 3:
        continue
    print(x)

2
1

In [1]:
arr = [[1,2,3],[4,5,6],[7,8,9]]

In [5]:
arr[:][2]

[7, 8, 9]

In [6]:
arr = [1,2,3,4,5,6,7,8,9,10]

In [8]:
arr[0:-2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
arr[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
arr[:len(arr)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]